<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eventlink.mapper.UserMapper">

    <insert id="insert">
        insert into users (username, password, email, phone, role, school_name, class_name, major, status, avatar_url, created_time, updated_time)
            values (#{username}, #{password}, #{email}, #{phone}, #{role},#{schoolName}, #{className}, #{major}, #{status}, #{avatarUrl}, now(), now())
    </insert>

    <select id="findByUsername" resultType="com.eventlink.entity.User">
        select * from users where username = #{username}
    </select>
    <select id="findById" resultType="com.eventlink.entity.User">
        select id, username, email, phone, role, school_name, class_name, major
            from users
        where id = #{id}
    </select>

    <select id="getUsernameById" resultType="java.lang.String">
        select username from users where id = #{id}
    </select>

    <update id="updateById" parameterType="com.eventlink.dto.req.UpdateUserReqDTO">
        update users
        <set>
            <if test="data.email != null">email = #{data.email},</if>
            <if test="data.phone != null">phone = #{data.phone},</if>
            <if test="data.role != null">role = #{data.role},</if>
            <if test="data.schoolName != null">school_name = #{data.schoolName},</if>
            <if test="data.className != null">class_name = #{data.className},</if>
            <if test="data.major != null">major = #{data.major},</if>
            <if test="data.avatarUrl != null">avatar_url = #{data.avatarUrl},</if>
            updated_time = now()
        </set>
        where id = #{id}
    </update>
</mapper>